<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<ul>-->
<!--    &lt;!&ndash;서버사이드?에서 처리될 때만 생겼다가 사라지는 애&ndash;&gt;-->
<!--    <th:block th:each="dto:${list}">-->
<!--        <li>AAA</li>-->
<!--    </th:block>-->
<!--</ul>-->

<!--<ul>-->
<!--    <li th:each ="dto, status: ${list}">-->
<!--        [[${status.index}]]-&#45;&#45;[[${dto}]]-->
<!--    </li>-->
<!--</ul>-->

<ul>
    <li th:each="dto, status: ${list}">
        [[${dto.regdate}]] --- [[${#temporals.format(dto.regdate, 'yyyy/MM/dd')}]]
    </li>
</ul>

<script th:inline="javascript">

    const arr = [[${list}]]

    console.info(arr[0].sno)

</script>

</body>
</html>